body {
  min-height: 100vh;

  background-color: #d5dee2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.light-bulb-switch {
  --height: 75px;
  --width: 200px;

  height: var(--height);
  width: var(--width);

  background-color: #323232;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
}
.light-bulb-switch__checkbox {
  height: var(--height);
  width: var(--width);

  position: absolute;

  appearance: none;

  cursor: pointer;
}
.light-bulb-switch__icon {
  height: var(--height);
  width: calc(var(--width) / 2);

  position: absolute;
  top: 0;
  left: 0;

  background-color: #636363;

  border-radius: 10px;
  border: 5px solid #323232;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 1s;
}
.light-bulb-switch__checkbox:checked ~ .light-bulb-switch__icon {
  left: calc(var(--width) / 2);
}
.light-bulb-switch__icon svg {
  height: 80%;
  width: auto;
}
.light-bulb-switch__icon svg path {
  stroke: rgb(186, 186, 186);

  transition: 1s;
}
.light-bulb-switch__checkbox:checked ~ .light-bulb-switch__icon svg path {
  stroke: #fff;
  filter: drop-shadow(0 0 20px #fff);
}
